* {
    Margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header*/
a:link,
a:visited {
    text-decoration: none;
}

body .anuncio {
    color: rgb(27 175 167);
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
}

/* index*/
.tituloIndex {
    text-align: center;
}

.tituloIndex h2 {
    font-size: 50px;
    font-weight: bold;
}

.textoInformativoIndex {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    align-items: center;
}

.textoInformativoIndex p {
    font-style: italic;
    color: #3c4053
}

.parrafosIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.parrafosIndexSuperior {
    margin: 10px;
    padding: 15px;
    text-align: justify;
}

.parrafosIndexInferior {
    margin: 10px;
    padding: 15px;
    text-align: justify;
    text-decoration: none;
}

.imgPrincipalIndex {
    padding: 50px;
    width: auto;
    object-fit: cover;
}

/* Servicios*/
.textoInformativoServicios {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.textoInformativoServicios h2 {
    font-size: 50px;
    font-weight: bold;
}

.textoInformativoServicios p {
    font-style: italic;
    color: #3c4053
}

#formatoServicios {
    padding: 40px;
}

/* Promociones*/
.textoInformativoPromociones {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.textoInformativoPromociones h2 {
    font-size: 50px;
    font-weight: bold;
}

.textoInformativoPromociones p {
    font-style: italic;
    color: #3c4053
}

.imagenDelMes {
    padding: 40px;
    height: fit-content;
    width: auto;
}

/* Sobre Nosotros*/
.tituloSobreNosotros {
    text-align: center;
}

.tituloSobreNosotros h2 {
    font-size: 50px;
    font-weight: bold;
}

.tituloSobreNosotros p {
    font-style: italic;
    color: #3c4053
}

.textoInformativoSobreNosotros {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    align-items: center;
}

.textoInformativoSobreNosotros .textoInformativo {
    text-align: center;
    justify-content: center;
    width: 600px;
}

.imgSobreNosotros {
    padding: 50px;
    width: auto;
    object-fit: cover;
}

/*Contacto*/
.textoInformativoContacto {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.textoInformativoContacto h2 {
    font-size: 50px;
    font-weight: bold;
}

.textoInformativoContacto p {
    font-style: italic;
    color: #3c4053
}

.formRegister .formRegisterInput {
    width: 100%;
}

.ubicacionContacto {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 80px;
    padding: 20px;
}

.formRegister {
    text-align: center;
    width: 500px;
    padding: 40px;
    margin-top: 100px;
    background-color: rgb(89, 168, 238);
    background-image: url(../images/backgroundFooter.png);
    background-size: cover;
}

.mainContainerContacto .formRegister .formRegisterInput {
    margin: 10px;
}

.mainContainerContacto {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.mainContainerContacto .ubicacionContactoDatos ul li {
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.mainContainerContacto .ubicacionContactoDatos h3 {
    text-align: center;
}

.mainContainerContacto .ubicacionContactoMapa {
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

/* Footer*/
footer {
    background-color: rgb(89, 168, 238);
    padding: 10px 0px;
    background-image: url(../images/backgroundFooter.png);
    background-size: cover;
}

footer .grupoFooterArriba {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

footer .grupoFooterArriba .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 25px;
    justify-content: space-around;
}

footer .grupoFooterArriba .box figure img {
    width: 150px;
}

footer .grupoFooterArriba .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
}

footer .grupoFooterArriba .box p {
    color: #efefef;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
}

footer .grupoFooterArriba .box .redesSociales {
    display: flex;
    justify-content: space-evenly;
}

footer .grupoFooterArriba .box .navbar-nav a {
    color: #efefef;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

footer a:hover {
    opacity: 0.8;
}

footer a .fa-brands {
    font-size: 30px;
    color: black;
}

footer a .fa-regular {
    font-size: 30px;
    color: black;
}

footer .grupoFooterBajo {
    margin: auto;
    padding: 0px 40px;
    text-align: center;
    color: white;
}

footer .grupoFooterBajo p {
    margin-top: 20px;

}