$color_1: rgb(27 175 167);
$color_2: rgba(4, 53, 51, 0.745);
$color_3: #000000;
$color_4: white;
$color_5: black;
$color_6: rgba(43, 88, 194, 0.755);
$background-color_1: black;
$background-color_2: linear-gradient(to top, rgba(89, 168, 238, 0.6), rgba(19 83 139));
$background-color_3: rgb(19 83 139);
$background-color_4: linear-gradient(90deg, rgba(0,212,255,0.29735644257703087) 0%, rgba(30,211,204,0.3113620448179272) 100%);
$background-color_5: linear-gradient(90deg, rgba(30,211,204,0.2189250700280112) 0%, rgba(0,212,255,0.4009978991596639) 100%);