.tituloIndex {
    text-align: center;

    h1 {
        font-size: 50px;
        font-weight: bold;
    }

    p {
        font-size: 30px;
        font-weight: bold;
    }
}

.textoInformativoIndex {
    padding: 10px;
    @include flex-wrap-evenly;
    width: auto;
    align-items: center;

    p {
        font-style: italic;
        color: $color_3;
    }
}

.parrafosIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vh;
    font-size: 20px;
}

.parrafosIndexSuperior {
    @include margin-padding-justify;
}

.parrafosIndexInferior {
    @include margin-padding-justify;
    text-decoration: none;
}

.imgPrincipalIndex {
    max-width: 100%;
    object-fit: cover;
    margin: 10px;
}